<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Erdal Emlik</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'about' %}">Hakkımda<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'article:articles' %}">Makaleler</a>
        </li>
      </ul>      
    </div>
    <ul class="navbar-nav mr-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'article:dashboard' %}">Kontrol Paneli<span class="sr-only">(current)</span></a>
      </li> 
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'user:logout' %}">Çıkış Yap<span class="sr-only">(current)</span></a>
      </li>
      {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:login' %}">Giriş Yap<span class="sr-only">(current)</span></a>
             </li>
      {% endif %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'user:register' %}">Kayıt Ol<span class="sr-only">(current)</span></a>
        </li>       
    </ul>
  </nav>